!!!
html
  head
    title FinalsClub
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(src='/js/jquery-1.6.2.min.js')
    script(src='/js/ace/build/src/ace.js')
    script(src='/nowjs/now.js')
    script(src='/nowpad/nowpad.js')
    script(src='/js/main.js')

